html{
  background-color: #F0F8FF;
}

html,body {
/*    width: 100%;
*/    height: 100%;
  }
      
#divcarte {
  width: 70%;
  height: 80%;
  float: left;
  z-index: 2;

}


#liste{
  overflow :scroll;
  float:  LEFT;
  width: 30%;
  height: 80%;
  background-color: powderblue;
}

.famille-carte
{
  background-color: darkblue;
  border-style: double;
}

header {
  text-align: center;
/*  position: relative;
*/  color:white;
  background-color:#6B8E23;
  font-family:  "Trebuchet MS", Trebuchet MS, sans-serif;
  border-style: double;
}

h3{
  color:#325144;
}
h4{
  color:#325144;
}

/* CSS des barres */

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#map {
  min-height: 500px
  height: 100%;
  width: 100%;
}
form {
  padding-top: 100px;
}   
/*Table dans la fenetre pop up */
/*table{
  border-collapse: collapse;
}

th, td{
  border: 1px solid black;
  padding: 10px;
}
*/
 #famille-carte input[type='checkbox'] {
    position:absolute;
    bottom:0;
    right:0;
    width: 25px;
    height: 25px;
}

/* Stylez et fixez le bouton sur la page */
.open-button {
  background-color: #1c87c9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
  position: Fixed;
  bottom: 15px;
  right: 15px;
}

/* Positionnez la forme Popup */
.login-popup {
  position: relative;
  text-align: center;
  width: 100%;
}

/* Masquez la forme Popup */
.form-popup {
  display: none;
  background-color: white;
  position: fixed;
  left: 45%;
  top: 4%;
  transform: translate(-45%, 25%);
  border: 2px solid #666;
  z-index: 9;
  overflow: scroll;
  border: solid;
}
