html{
  background-color: #F0F8FF;
}

html,body {
/*    width: 100%;
*/    height: 100%;
  }
      
#divcarte {
  width: 70%;
  height: 80%;
  float: left;

}


#liste{
  overflow :scroll;
  float:  LEFT;
  width: 30%;
  height: 80%;
  background-color: powderblue;
}

ul{

    list-style-type: none; 
    background-color: whitesmoke;
  margin:0px;
  padding:0px;
}

ul li{
  text-align: center;
  list-style: none;
  /* border-style: ridge; */
  background-color: #b5dacd;
}

ul li ul li{
 background-color: #c9edd7;
 border-style: ridge;
 align:
 center;
}

header {
  text-align: center;
/*  position: relative;
*/  color:white;
  background-color:#6B8E23;
  font-family:  "Trebuchet MS", Trebuchet MS, sans-serif;
  border-style: double;
}

h3{
  color:#325144;
}
h4{
  color:#325144;
}

/* CSS des barres */

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#map {
  min-height: 500px
  height: 100%;
  width: 100%;
}
